/*color code has been selectivly commented out for professional purposes*/

html {
	position: relative;
}

body {
/*	background-color: #006600; */
	font-family: 'Merriweather', serif; 
}

strong {
	margin-top: 20px;
	font-weight: bold;
}

hr {
	margin-bottom: 3%;
}

p {
	padding-bottom: 2%;
}

a {
	text-decoration: underline;
	color: black;
	
}

a:hover {
	font-weight: 900;
}

.portfolio-navigation {
	padding: 1% 1% 1% 1%;
}

.navigation-menu {
	background-color: #001900;
	text-align: center;
	padding: 1.5% 2.5% 1.5% 2.5%;
	border-radius: 15px;
	border: 2px solid #4dff4d;
}

.index-navigation-menu {
	margin: auto;
	width: 40%;
	text-align: center;
	padding: 1.5% 2.5% 1.5% 2.5%;
	border-radius: 15px;
	/*border: 2px solid #4dff4d;
	background-color: #001900;*/
}

.navigation-item {
	display: inline-block;
	padding-left: 9%;
	padding-right: 9%;
}

.index-navigation-item {
	display:block;
	font-size: 200%;
	padding-top: 2%;
	padding-bottom: 5%;
}

.index-navigation-link {
	text-decoration: none;
	color: green;
}

.navigation-link {
	text-decoration: none;
	color: white;
}

.navigation-link:hover {
	text-decoration: underline;
}

.selected {
	font-weight: 900;
	font-size: 15px;
	text-decoration: underline;
	color: #33cc33;
}

.index-container {
	position: relative;
	float: center;
	margin: auto;
	/*background-color: #99e699;
	Can try to use this other color for content 
	background, see what is better*/
	/*background-color: #48d148;*/
	width: 60%;
	height: auto;
	padding: 5% 5% 5% 5%;
	border-radius: 7px;
	line-height: 150%;
}

.portfolio-container {
	position: relative;
	float: center;
	margin: auto;
	/*background-color: #48d148;*/
	width: 75%;
	height: auto;
	padding: 5% 5% 5% 5%;
	border-radius: 7px;
	line-height: 150%;
}

h1 {
	position: relative;
	display: block;
	text-align: center;
	font-size: 400%;
	letter-spacing: 15px;
	padding-top: 8%;
	padding-bottom: 8%;
}

h2 {
	display: block;
	font-size: 30px;
	font-weight:;
	font-style: italic;
	letter-spacing: 5px;
	padding-bottom: 5px;
}

h3 {
	display: block;
	padding-bottom: 4%;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10%;
	padding-bottom: .5%;

}

.log-divider{
	text-align: center;
	font-weight: bolder;
	color:;
	font-size: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	letter-spacing: 15px;
}

footer {
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-color: #001900;
	padding: 1% 1% 1% 1%;
	margin-top: 1%;
	margin-bottom: .33%;
	color: white;
	width: 97%;
	text-align: center;
	border-radius: 7px;
	font-size: 12px;
	border: 2px solid #4dff4d;
}

.index-content-top {
	display: block;
	position: relative;
	background-color: #006600;
	margin: auto;
	text-align: center;
	/*width: 50%;*/
	width: auto;
	height: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	border: 3px solid #48d148;
	border-radius: 20%;
}

/*.index-content-bottom {
	display: block;
	position: relative;
	margin: auto;
	width: 50%;
	height: 100%;
	text-align: center;
	padding-top: 5%;
} */

.index-img {
	position: relative;
	display: block; 
	margin: auto;
	width: auto;
	height: auto;
	padding-top: 1%;
	padding-left: -50%;
}

.index-email {
	color: white;
	width: auto;
}

.bio-img {
	/*display: inline-block;
	float: left;
	width: auto;
	height: auto;
	padding-top:1.5%;
	padding-bottom: 3%;
	border-radius: 200px;*/
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 25%;
	height: auto;
	border-radius:100%;
	vertical-align: center;
	padding-top: 5%;
}

.bio-img2 {
	display: block;

}

.bio-link {
	padding-left: 5%;
}

.bio-content {
	/*display: inline-block;
	float: right;
	width: 300px;
	height: 360px;
	text-align: left;
	background-color: white;*/
}

.resume-img {
	display: inline-block;
	width: 20%;
	height: auto;
	padding-right: 4%;	
}

.resume-img-container {
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 1.5%;
}

.resume-headline {
	display: block;
	font-weight: bold;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;
}

.resume-link {
	display: block;
	margin: auto;
	text-decoration: none;
	color: black;
	padding-top: 2%;
	text-align: center;
}

.resume-link:hover {
	font-weight: 900;
}

.resume-short {
	display: block;
	margin: auto;
	text-decoration: underline;
	color: #7F7F7F;
	padding-top:;
}

.resume-link:hover {
	font-weight: 900;
}

.resume-list {
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 70px;
	letter-spacing: 1.5px;
}

.project-link {
	position: relative;
	display: inline-block;
	text-align: left;
	background-color:;
	color: black;
	font-size: 130%;
	padding: 1% 3% 1% 1%;
}

.project-content {
	position: relative;
	display: block;
	text-align: left;
	background-color:;
}

.project-img {
	width: 50%;
	height: auto;
}











/*


@media screen and (max-width: 780px) {
	.navigation-menu {
		background-color: #001900;
		border: 5px solid #4dff4d;
	}

	.navigation-item {
		display: inline-block;
		padding-left: 7%;
		padding-right: 7%;
	}

	.navigation-link {
		font-size: 50px;
	}

	h1 {
		font-size: 75px;
	}

	.index-container {
		margin: auto;
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	.portfolio-container {
		margin: auto;
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	footer {
		width: 80%;
		font-size: 9px;
		margin-top: .5%;
	}
}


@media screen and (max-width: 480px) {
	.navigation-menu {
		background-color: #001900;
		border-radius: 10px;
		padding: 3% 3% 3% 3%;
		border: 5px solid #4dff4d;
	}
	.navigation-item {
		display: inline-block;
		padding-left: 5%;
		padding-right: 5%;
	}

	.navigation-link {
		font-size: 50px;
	}

	h1 {
		font-size: 175%;
	}

	.index-container {
		margin: auto;
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	.portfolio-container {
		margin: auto;
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	footer {
		width: 80%;
		font-size: 9px;
		margin-top: .5%;
	}
}

@media screen and (max-width: 320px) {
	.navigation-menu {
		background-color: #001900;
		padding: 8% 4% 8% 4%;
		border: 10px solid #4dff4d;
	}
	.navigation-item {
		display: inline-block;
		padding-left: 2%;
		padding-right: 2%;
	}

	.navigation-link {
		font-size-size: 100px;
	}

	h1 {
		font-size: 100%;
	}

	.index-container {
		margin: auto;
		background-color: #248f24;
		width: 65%;
		height: auto;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	.portfolio-container {
		position: relative;
		margin: auto;
		background-color: #248f24;
		width: 65%;
		height: 90%;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	footer {
		width: 80%;
		font-size: 9px;
		margin-top: .5%;
	}

	.bio-img {
	position: relative;
	display: block;
	vertical-align: middle;
	width: auto;
	height: auto;
	padding-top:1.5%;
	padding-bottom: 3%;
	border-radius: 200px;
	}

	.bio-content {
	position: relative;
	display: block;
	vertical-align: middle;
	width: 60%;
	height: auto;
	text-align: left;
	background-color: white;
	}
}

*/