html {
	position: relative;
}

body {
	background-color: #006600;
	font-family: 'Merriweather', serif; 
}

strong {
	margin-top: 20px;
	font-weight: bold;
}

.portfolio-navigation {
	padding: 1% 1% 1% 1%;
}

.navigation-menu {
	background-color: #001900;
	text-align: center;
	padding: 1.5% 2.5% 1.5% 2.5%;
	border-radius: 15px;
	border: 2px solid #4dff4d;
}

.navigation-item {
	display: inline-block;
	padding-left: 9%;
	padding-right: 9%;
}

.navigation-link {
	text-decoration: none;
	color: white;
}

.navigation-link:hover {
	text-decoration: underline;
}

.selected {
	font-weight: 900;
	font-size: 15px;
	text-decoration: underline;
	color: #33cc33;
}

.index-container {
	position: relative;
	float: center;
	margin: auto;
	/*background-color: #99e699;
	Can try to use this other color for content 
	background, see what is better*/
	background-color: #248f24;
	width: 60%;
	height: 175px;
	padding: 5% 5% 5% 5%;
	border-radius: 7px
}

.portfolio-container {
	position: relative;
	float: center;
	margin: auto;
	background-color: #48d148;
	width: 60%;
	height: 365px;
	padding: 5% 5% 5% 5%;
	border-radius: 7px;
}

.portfolio-resume-container {
	position: relative;
	float: center;
	margin: auto;
	background-color: #48d148;
	width: 60%;
	height: 3400px;
	padding: 5% 5% 5% 5%;
	border-radius: 7px;
}

h1 {
	display: block;
	text-align: center;
	font-size: 75px;
	letter-spacing: 15px;
	padding-top: 15px;
}

h2 {
	display: block;
	font-size: 30px;
	font-weight:;
	font-style: italic;
	letter-spacing: 5px;
	padding-bottom: 5px;
}

h3 {
	display: block;
	padding-bottom: 4%;
	font-size: 20px;

}

.log-divider{
	text-align: center;
	font-weight: bolder;
	color:;
	font-size: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	letter-spacing: 15px;
}

footer {
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-color: #001900;
	padding: 1% 1% 1% 1%;
	margin-top: 1%;
	margin-bottom: .33%;
	color: white;
	width: 97%;
	text-align: center;
	border-radius: 7px;
	font-size: 12px;
	border: 2px solid #4dff4d;
}

.index-content-left {
	background: white;
	float: left;
	width: 50%;
	height: 100%;
}

.index-content-right {
	background-color: blue;
	float: right;
	width: 50%;
	height: 100%;
}

.bio-img {
	display: inline-block;
	float: left;
	width: 480px;
	height: 360px;
	padding-top:1.5%;
	padding-bottom: 3%;
	border-radius: 200px;
}

.bio-content {
	display: inline-block;
	float: right;
	width: 300px;
	height: 360px;
	text-align: left;
	background-color: white;
}

.resume-headline {
	display: block;
	font-weight: bold;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;
}

.linkedin {
	display: block;
	margin: auto;
	text-decoration: none;
	color: black;
	padding-top: 2%;
	text-align: center;
}

.linkedin:hover {
	font-weight: 900;
}

.resume-list {
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 70px;
	letter-spacing: 1.5px;
}













/*this media query impacts screen 780px or larger*/
@media screen and (max-width: 780px) {
	.navigation-menu {
		background-color: #001900;
		border: 5px solid #4dff4d;
	}

	.navigation-item {
		display: inline-block;
		padding-left: 7%;
		padding-right: 7%;
	}

	.navigation-link {
		font-size: 50px;
	}

	h1 {
		font-size: 75px;
	}

	.index-container {
		margin: auto;
	/*background-color: #99e699;
	Can try to use this other color for content 
	background, see what is better*/
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	.portfolio-container {
		margin: auto;
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	footer {
		width: 80%;
		font-size: 9px;
		margin-top: .5%;
	}
}

/*this media query impacts screen 480 or larger*/
@media screen and (max-width: 480px) {
	.navigation-menu {
		background-color: #001900;
		border-radius: 10px;
		padding: 3% 3% 3% 3%;
		border: 5px solid #4dff4d;
	}
	.navigation-item {
		display: inline-block;
		padding-left: 5%;
		padding-right: 5%;
	}

	.navigation-link {
		font-size: 50px;
	}

	h1 {
		font-size: 175%;
	}

	.index-container {
		margin: auto;
	/*background-color: #99e699;
	Can try to use this other color for content 
	background, see what is better*/
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	.portfolio-container {
		margin: auto;
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	footer {
		width: 80%;
		font-size: 9px;
		margin-top: .5%;
	}
}
/*this media query impacts screen 320 or larger*/
@media screen and (max-width: 320px) {
	.navigation-menu {
		background-color: #001900;
		padding: 8% 4% 8% 4%;
		border: 10px solid #4dff4d;
	}
	.navigation-item {
		display: inline-block;
		padding-left: 2%;
		padding-right: 2%;
	}

	.navigation-link {
		font-size-size: 100px;
	}

	h1 {
		font-size: 100%;
	}

	.index-container {
		margin: auto;
	/*background-color: #99e699;
	Can try to use this other color for content 
	background, see what is better*/
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	.portfolio-container {
		margin: auto;
		background-color: #248f24;
		width: 65%;
		height: 600px;
		padding: 5% 5% 5% 5%;
		border-radius: 7px
	}

	footer {
		width: 80%;
		font-size: 9px;
		margin-top: .5%;
	}
}